<div style="width: 250px;border: 2.5px solid rgb(0, 0, 0);">
    <div style="margin: 15px;">
        <b>
            <p style="cursor: pointer;border-bottom:2.5px solid #000;" onclick="window.history.back()">↤
                Manage Users <span class="goback">
                    <!-- ↦ -->
                </span></p>
            <br>
            <a href="/admin/users">
                <p class="sidemanu"> Assign Roles ⇢ </p>
            </a>
            <a href="/admin/users-details">
                <p class="sidemanu"> Users Details ⇢</p>
            </a>
            <a href="/admin/add-user">
                <p class="sidemanu">Add User ⇢</p>
            </a>
        </b>
    </div>
</div>