<%- include('./layouts/header.ejs') %>

  <div class="top">
    <div style="font-size: 6.5rem; line-height: 1; overflow: hidden">
      <div>
        <div style="height: 90px; overflow: hidden; margin-left: 30px">
          <div class="animate__animated animate__fadeInUp wow A">
            MOHEIM creates
          </div>
        </div>
        <div style="height: 90px; overflow: hidden">
          <div class="animate__animated animate__fadeInUp wow B">
            “new standard” to enrich
          </div>
        </div>
        <div style="height: 100px; overflow: hidden">
          <div style="margin-left: 39px" class="animate__animated animate__fadeInUp wow C">
            your everyday life.
          </div>
        </div>
      </div>
    </div>

    <div style="
      margin-left: 20%;
      width: 600px;
      padding-top: 30px;
      line-height: 1.8;
      font-size: 18px;
    " class="animate__animated animate__fadeInBottomRight wow">
      <p>
        One prototype was described as "the most beautiful dustbin in the
        world" because of its minimalist design and unprecedented structure.
        In 2010, the work was presented at the Salone del Mobile in Milan, and
        four years later, it was launched as MOHEIM's first product, the SWING
        BIN. Since then, MOHEIM has introduced a variety of items for living
        spaces, from tableware to furniture. The common denominator in their
        designs is minimalism and simplicity, and a desire to fit smoothly
        into people's lives. In addition, we use traditional techniques and
        advanced technology to give shape to our products with an ethical
        approach in line with the times. MOHEIM is a brand that creates "new
        standards" to enrich the lives of those who own our products.
      </p>
    </div>
  </div>


  <div style="display: flex;margin: 5%;">
    <div class="image1my">
    </div>
    <div class="image2my">
    </div>
    <div class="image3my">
    </div>
  </div>

  <div class="top">

    <div style="display: flex; margin-top: 50px">
      <div style="width: 35%; padding-left: 30px; font-size: 22px">
        CONCEPT
      </div>

      <div style="width: 50%">
        <div style="font-size: 3.5rem; line-height: 1; overflow: hidden">
          <div style="height: 50px; overflow: hidden">
            <div class="animate__animated animate__fadeInUp wow">
              Arrange your space,
            </div>
          </div>
          <div style="height: 50px; overflow: hidden">
            <div class="animate__animated animate__fadeInUp wow">
              enhance your days.
            </div>
          </div>
        </div>
        <div style="
          margin-left: 20%;
          width: 600px;
          padding-top: 30px;
          line-height: 1.8;
          font-size: 18px;
        " class="animate__animated animate__fadeInBottomRight wow">
          <p>
            MOHEIM creates its products by considering the purpose and meaning
            of design in living spaces. Designs that will never fade and can
            be used for a long time with affection. A sophisticated appearance
            that blends in perfectly with your life. We work on our designs
            while envisioning high-quality, harmonious daily scenes that
            people will cherish forever.
          </p>
        </div>
      </div>
    </div>

    <div style="display: flex; margin-top: 50px">
      <div style="width: 35%; padding-left: 30px; font-size: 22px"></div>

      <div style="width: 50%">
        <div style="font-size: 3.5rem; line-height: 1; overflow: hidden">
          <div style="height: 50px; overflow: hidden">
            <div class="animate__animated animate__fadeInUp wow">
              What's beyond our
            </div>
          </div>
          <div style="height: 60px; overflow: hidden">
            <div class="animate__animated animate__fadeInUp wow">
              design? Craftsmanship
            </div>
          </div>
        </div>
        <div style="
          margin-left: 20%;
          width: 600px;
          padding-top: 30px;
          line-height: 1.8;
          font-size: 18px;
        " class="animate__animated animate__fadeInBottomRight wow">
          <p>
            Even things that look graceful on the outside have a
            well-thought-out design and structure. However, design alone is
            not enough to create a product. The competence and experience of
            the creator is always necessary. In order to realize our
            manufacturing ideals, we incorporate the latest technology as well
            as the traditional skills of the region. MOHEIM values
            craftsmanship in its product development.
          </p>
        </div>
      </div>
    </div>

    <div style="display: flex; margin-top: 50px">
      <div style="width: 35%; padding-left: 30px; font-size: 22px"></div>

      <div style="width: 50%">
        <div style="font-size: 3.5rem; line-height: 1; overflow: hidden">
          <div style="height: 50px; overflow: hidden">
            <div class="animate__animated animate__fadeInUp wow">
              Let's start thinking about
            </div>
          </div>
          <div style="height: 60px; overflow: hidden">
            <div class="animate__animated animate__fadeInUp wow">
              sustainability
            </div>
          </div>
        </div>
        <div style="
          margin-left: 20%;
          width: 600px;
          padding-top: 30px;
          line-height: 1.8;
          font-size: 18px;
        " class="animate__animated animate__fadeInBottomRight wow">
          <p>
            The word "sustainable" can be used to describe a wide variety of
            things. MOHEIM will continue to think about what kind of efforts
            will advance consideration for the environment and what will be
            beneficial for society. We will start with what we can do, develop
            items using recycled materials, and work on manufacturing with a
            greater awareness of "sustainability."
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <%- include('./layouts/footer.ejs') %>